#registro .aright{
    text-align: right;
}

#registro .acenter{
    text-align: center;
}
#registro .aleft{
    text-align: left;
}

table.dataTable tfoot th, table.dataTable tfoot td {
    padding: 10px 10px 3px;
}